nav.navbar.navbar-expand-lg.navbar-light.bg-light-gray
    div.container-fluid
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
            div.collapse.navbar-collapse.justify-content-center.navbar-font.m-2
                ul.nav.nav-pills
                    li.nav-item
                        a.nav-link(class=currentPage === "home" ? "active" : "" href="/") Home
                    if username
                        li.nav-item
                            a.nav-link(class=currentPage === "create competition" ? "active" : "" href="/users/competition/new") Kreiraj natjecanje
                        li.nav-item
                            a.nav-link(href="/logout") Odjava
                    unless username
                        li.nav-item
                            a.nav-link(class=currentPage === "sign in" ? "active" : "" href="/login") Prijava
